<!-- Hero Section-->
<section class="hero hero-home no-padding">
  <!-- Hero Slider-->
  <div class="owl-carousel owl-theme hero-slider">
    <div style="background-image: url(<%= asset_path 'hero_c99_table.jpg' %>);" class="item d-flex align-items-center has-pattern">
    <!-- <div class="item d-flex align-items-center has-pattern"> -->
      <div class="container">
        <div class="row">
        </div>
      </div>
    </div>
    <div style="background: url(<%= asset_path 'hero_c99_pipe.jpg' %>);" class="item d-flex align-items-center">
      <div class="container">
        <div class="row">
        </div>
      </div>
    </div>
    <div style="background: url(<%= asset_path 'hero_c99_dichavador.jpg' %>);" class="item d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-lg text-white">
            <h1>&nbsp;</h1>
            <p class="lead">&nbsp;</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Categories Section-->
<section class="categories">
  <div class="container">
    <header class="text-center">
      <h2 class="text-uppercase"><small><a id="products">PRODUTOS DO MÊS</a></small>Nossas escolhas</h2>
    </header>
    <div class="row text-left">
      <div class="col-lg-4"><a href="#">
          <div style="background-image: url(<%= asset_path 'banner-circus.jpg' %>);" class="item d-flex align-items-end">
            <div class="content">
              <h3 class="h5">Circus</h3><span>Sedas<br>Unbleached</span>
            </div>
          </div></a></div>
      <div class="col-lg-4"><a href="#">
          <div style="background-image: url(<%= asset_path 'banner-skate.jpg' %>);" class="item d-flex align-items-end">
            <div class="content">
              <h3 class="h5">Puff</h3><span>Cases<br>&nbsp;</span>
            </div>
          </div></a></div>
      <div class="col-lg-4"><a href="#">
          <div style="background-image: url(<%= asset_path 'banner-squadafum.jpg' %>);" class="item d-flex align-items-end">
            <div class="content">
              <h3 class="h5">Squadafum</h3><span>Acessórios<br>&nbsp;</span>
            </div>
          </div></a></div>
    </div>
  </div>
</section>

<!-- Divider Section-->
<section style="background: url(<%= asset_path 'divider.jpg' %>);" class="divider">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <a id="loja"><p>Conheça nossa loja!</p></a>
        <h2 class="h1 text-uppercase no-margin">as melhores marcas</h2>
        <p>com acessórios que você precisa</p><a href="#loja" class="btn btn-template wide shop-now">venha nos visitar!<i class="icon-bag"></i></a>
      </div>
    </div>
  </div>
</section>

<!-- Brands Section-->
<section class="brands">
  <div class="container">
    <!-- Brands Slider-->
    <div class="owl-carousel owl-theme brands-slider">
      <!-- item-->
      <div class="item d-flex align-items-center justify-content-center">
        <div class="brand d-flex align-items-center"><%=image_tag("logow-aura.png", :alt => "...")%></div>
      </div>
      <!-- item-->
      <div class="item d-flex align-items-center justify-content-center">
        <div class="brand d-flex align-items-center"><%=image_tag("logow-bembolado.png", :alt => "...", :class => "img-fluid")%></div>
      </div>
      <!-- item-->
      <div class="item d-flex align-items-center justify-content-center">
        <div class="brand d-flex align-items-center"><%=image_tag("logow-circus.png", :alt => "...", :class => "img-fluid")%></div>
      </div>
      <!-- item-->
      <div class="item d-flex align-items-center justify-content-center">
        <div class="brand d-flex align-items-center"><%=image_tag("logow-puff.png", :alt => "...", :class => "img-fluid")%></div>
      </div>
      <!-- item-->
      <div class="item d-flex align-items-center justify-content-center">
        <div class="brand d-flex align-items-center"><%=image_tag("logow-sasso.png", :alt => "...", :class => "img-fluid")%></div>
      </div>
      <!-- item-->
      <div class="item d-flex align-items-center justify-content-center">
        <div class="brand d-flex align-items-center"><%=image_tag("logow-squadafum.png", :alt => "...")%></div>
      </div>
    </div>
  </div>
</section>
