<!-- Hero Section-->
<section class="hero hero-home no-padding">
  <!-- Hero Slider-->
  <div class="owl-carousel owl-theme hero-slider">
    <div style="background: url(<%= asset_path 'hero_c99_table.jpg' %>);" class="item d-flex align-items-center has-pattern">
      <div class="container">
        <div class="row">
          <!-- <div class="col-lg text-black text-right">
            <h2>Visite nossa</h2>
            <a href="#" class="btn btn-template wide shop-now">Loja<i class="icon-bag"> </i></a>
          </div> -->
        </div>
      </div>
    </div>
    <div style="background: url(<%= asset_path 'hero_c99_pipe.jpg' %>);" class="item d-flex align-items-center">
      <div class="container">
        <div class="row">
          <!-- <div class="col-lg text-white text-right">
            <h2>Conheça nossos</h2>
            <a href="#products" class="btn btn-template wide shop-now">Produtos<i class="icon-bag"></i></a>
          </div> -->
        </div>
      </div>
    </div>
    <div style="background: url(<%= asset_path 'hero_c99_dichavador.jpg' %>);" class="item d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-lg text-white">
            <h1>&nbsp;</h1>
            <p class="lead">&nbsp;</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Categories Section-->
<section class="categories">
  <div class="container">
    <header class="text-center">
      <h2 class="text-uppercase"><small><a id="products">PRODUTOS DO MÊS</a></small>Nossas escolhas</h2>
    </header>
    <div class="row text-left">
      <div class="col-lg-4"><a href="#">
          <div style="background-image: url(<%= asset_path 'banner-circus.jpg' %>);" class="item d-flex align-items-end">
            <div class="content">
              <h3 class="h5">Circus</h3><span>Sedas<br>Unbleached</span>
            </div>
          </div></a></div>
      <div class="col-lg-4"><a href="#">
          <div style="background-image: url(<%= asset_path 'banner-skate.jpg' %>);" class="item d-flex align-items-end">
            <div class="content">
              <h3 class="h5">Puff</h3><span>Cases<br>&nbsp;</span>
            </div>
          </div></a></div>
      <div class="col-lg-4"><a href="#">
          <div style="background-image: url(<%= asset_path 'banner-squadafum.jpg' %>);" class="item d-flex align-items-end">
            <div class="content">
              <h3 class="h5">Squadafum</h3><span>Acessórios<br>&nbsp;</span>
            </div>
          </div></a></div>
    </div>
  </div>
</section>

<!-- Divider Section-->
<section style="background: url(<%= asset_path 'divider-bg.jpg' %>);" class="divider">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <a id="loja"><p>Conheça nossa loja!</p></a>
        <h2 class="h1 text-uppercase no-margin">as melhores marcas</h2>
        <p>com acessórios que você precisa</p><a href="#loja" class="btn btn-template wide shop-now">venha nos visitar!<i class="icon-bag"></i></a>
      </div>
    </div>
  </div>
</section>

<!-- Brands Section-->
<section class="brands">
  <div class="container">
    <!-- Brands Slider-->
    <div class="owl-carousel owl-theme brands-slider">
      <!-- item-->
      <div class="item d-flex align-items-center justify-content-center">
        <div class="brand d-flex align-items-center"><%=image_tag("brand-1.svg", :alt => "...", :class => "img-fluid")%></div>
      </div>
      <!-- item-->
      <div class="item d-flex align-items-center justify-content-center">
        <div class="brand d-flex align-items-center"><%=image_tag("brand-2.svg", :alt => "...", :class => "img-fluid")%></div>
      </div>
      <!-- item-->
      <div class="item d-flex align-items-center justify-content-center">
        <div class="brand d-flex align-items-center"><%=image_tag("brand-3.svg", :alt => "...", :class => "img-fluid")%></div>
      </div>
      <!-- item-->
      <div class="item d-flex align-items-center justify-content-center">
        <div class="brand d-flex align-items-center"><%=image_tag("brand-4.svg", :alt => "...", :class => "img-fluid")%></div>
      </div>
      <!-- item-->
      <div class="item d-flex align-items-center justify-content-center">
        <div class="brand d-flex align-items-center"><%=image_tag("brand-5.svg", :alt => "...", :class => "img-fluid")%></div>
      </div>
      <!-- item-->
      <div class="item d-flex align-items-center justify-content-center">
        <div class="brand d-flex align-items-center"><%=image_tag("brand-6.svg", :alt => "...", :class => "img-fluid")%></div>
      </div>
      <!-- item-->
      <div class="item d-flex align-items-center justify-content-center">
        <div class="brand d-flex align-items-center"><%=image_tag("brand-1.svg", :alt => "...", :class => "img-fluid")%></div>
      </div>
      <!-- item-->
      <div class="item d-flex align-items-center justify-content-center">
        <div class="brand d-flex align-items-center"><%=image_tag("brand-2.svg", :alt => "...", :class => "img-fluid")%></div>
      </div>
      <!-- item-->
      <div class="item d-flex align-items-center justify-content-center">
        <div class="brand d-flex align-items-center"><%=image_tag("brand-3.svg", :alt => "...", :class => "img-fluid")%></div>
      </div>
      <!-- item-->
      <div class="item d-flex align-items-center justify-content-center">
        <div class="brand d-flex align-items-center"><%=image_tag('brand-4.svg', :alt => '...', :class => 'img-fluid')%></div>
      </div>
    </div>
  </div>
</section>
<!-- Overview Popup    -->
<div id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade overview">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true"><i class="icon-close"></i></span></button>
      <div class="modal-body">
        <div class="ribbon-primary text-uppercase">Sale</div>
        <div class="row d-flex align-items-center">
          <div class="image col-lg-5">
          <%=image_tag('shirt.png', :alt => '...', :class => 'img-fluid d-block')%>
          </div>
          <div class="details col-lg-7">
            <h2>Lose Oversized Shirt</h2>
            <ul class="price list-inline">
              <li class="list-inline-item current">$65.00</li>
              <li class="list-inline-item original">$90.00</li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
            <div class="d-flex align-items-center">
              <div class="quantity d-flex align-items-center">
                <div class="dec-btn">-</div>
                <input type="text" value="1" class="quantity-no">
                <div class="inc-btn">+</div>
              </div>
              <select id="size" class="bs-select">
                <option value="small">Small</option>
                <option value="meduim">Medium</option>
                <option value="large">Large</option>
                <option value="x-large">X-Large</option>
              </select>
            </div>
            <ul class="CTAs list-inline">
              <li class="list-inline-item"><a href="#" class="btn btn-template wide"> <i class="fas fa-shopping-cart"></i>Add to Cart</a></li>
              <li class="list-inline-item"><a href="#" class="visit-product active btn btn-template-outlined wide"> <i class="icon-heart"></i>Add to wishlist</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="scrollTop"><i class="fas fa-long-arrow-alt-up"></i></div>
